.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.header {
  font-size: 23px;
  font-weight: bold;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%;
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
  padding: 0 1rem;
}

.nav-links {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 1rem;
}

.nav-links > * {
  text-decoration: none;
  color:azure;
}

.home-links {
  display: flex;
}

.home-links > * {
  width: 20vmin;
  height: 20vmin;
  border: 1px solid white;
  text-align: center;
}

.route-body {
  margin-top: 10vh;
 
}

.event-link {
  font-size: 18px;
  text-decoration: none;
  color: burlywood;
  padding-top: 15px;
  padding-bottom: 15px;
}

.venue-link {
  font-size: 20px;
  text-decoration: none;
  color: burlywood;

}

.back-link {
  color: burlywood;

}

.edit-div {
  display: flex;
  flex-direction: column;
}

.create-event {
  padding: 2vmin;
  border: 1px solid white;
}

.route-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-top: 150px;
}

.image-container {
  background-size: cover;
  background-position: center;
}

.date-time, .city-state, .event-description, .ticket-price {
  font-size: 18px;
}

.ticket-price {
  padding-bottom: 50px;
}

.event-description {
  margin: 0 300px;
}

.venue-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-top: 100px;

}

