/* .app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

} */

.header {
  font-size: 23px;
  font-weight: bold;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%;
  background-color: #242424;
  border: 1px solid rgb(255, 255, 255);
  padding: 0 1rem;
}

.nav-links {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 1rem;
}

.nav-links > * {
  text-decoration: none;
  color:azure;
}

.home-links {
  display: flex;
}

.home-links > * {
  width: 20vmin;
  height: 20vmin;
  border: 1px solid white;
  text-align: center;
}

.vlroute-body{
  padding-top: 10vh;
  text-align: center;
}

.list-header {
  position: fixed;
  top: 7vh;
  left: 3vw;
  font-size: 5vmin;
}

.venue-link {
  font-size: 25px;
  font-weight: bold;
  justify-content: center;
  text-decoration: none;
  color: burlywood;
  align-items: center;
}

.back-link {
  color: burlywood;
  align-self: flex-start;
  margin-left: 4vmin;
  margin-top: 2vmin;
  margin-bottom: -3vmin;
}

.admin-route-body {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-options {
  height: 12vmin;
}

.admin-options > button {
  padding: 1vmin;
  padding-left: 2vmin;
  padding-right: 2vmin;
  margin: 4vmin;
}

.admin-panel {
  display: flex;
  width: 100vw;
  justify-content: center;
}

.admin-page-title {
  position: fixed;
  left: 10vmin;
  top: 20vh;
  font-size: 10vmin;
  color: burlywood;
}

.admin-list {
  width: 30vw;
}

.admin-list > * {
  border: 1px solid white;
  margin: 2vmin;
  padding: 2vmin;
}

.admin-create {
  position: fixed;
  right: 10vmin;
  top: 20vh;
  width: 20vw;
  padding: 2vmin;
  border: 1px solid white;
}

.edit-div {
  display: flex;
  flex-direction: column;
  padding: 2vmin;
  border: 1px solid burlywood;
  width: 20vw;
}

.edit-div > * {
  margin: .5vmin;
}

.admin-edit-button {
  margin-right: .5vmin;
}


.route-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  margin-top: 10vh;
}

.login-route-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20vh;
}

.image-container {
  background-size: cover;
  background-position: center;
}

.date-time, .city-state, .event-description, .ticket-price {
  font-size: 18px;
}

.ticket-price {
  padding-bottom: 50px;
}

.event-description {
  margin: 0 550px;
}

.venue-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
    /* align-items: center; */
    /* justify-content: center; */
    margin-top: 7vh;
    height: 90vh;
    padding-left: 50px;
    padding-right: 50px;
}


/* EVENT LIST */

.event-list1 {
  margin-top: 17vh;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
  gap: 70px 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 50px;
}

.event-link {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: burlywood;
  flex-basis: calc(25% - 30px); 
}

.event-link img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.event-link div {
  margin-top: 10px;
  word-break: break-word; 
}

/* Venues */

.venue-page-list {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.venue-description {
  margin-bottom: 2vmin;
}

.venue-related-link {
  padding: 2vmin;
  border-top: 1px solid white;
}


/* HOME */

.home {
  margin-top: 10vh;
  background-image: url("IMG_7210.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 90vh;
}

.home-L1 {
  font-size: 60px;
  font-weight: bold;
  padding-left: 50px;
  padding-top: 50px;
}

.home-L2 {
  font-size: 22px;
  padding-left: 50px;
  padding-top: 40px;
}

.home-L3 {
  font-size: 47px;
  padding-left: 50px;
  margin-bottom: 200px;
}

.home-nav-link {
  font-size: 30px;
  padding-left: 50px;
  margin-top: 20px;
}