.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

}


.header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%;
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
  padding: 0 1rem;
}

.nav-links {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 1rem;
}

.nav-links > * {
  text-decoration: none;
}

.home-links {
  display: flex;
}

.home-links > * {
  width: 20vmin;
  height: 20vmin;
  border: 1px solid white;
  text-align: center;
}

.route-body {
  margin-top: 10vh;
}

.venue-link, .event-link, .back-link {
  text-decoration: none;
}

.edit-div {
  display: flex;
  flex-direction: column;
}

.create-event {
  padding: 2vmin;
  border: 1px solid white;
}

